<ion-content class="ion-padding">
  <br><br>
  <div>
    <h2 align="center">{{'forgot_password' | translate}}</h2>

    <div class="ion-padding" style="margin-top: 25%;">
      <form [formGroup]="form">
        <ion-list>
          <ion-item class="ion-no-padding" lines="line">
            <ion-label position="floating"
              [color]="(form.get('email').invalid && form.get('email').touched) ? 'danger' : 'tertiary'">{{'email' |
              translate}}</ion-label>
            <ion-input type="email" formControlName="email"
              [color]="(form.get('email').invalid && form.get('email').touched) ? 'danger' : 'dark'"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </div>
    <br><br>
    <div align="center">
      <ion-button color="danger" shape="round" (click)="submit()" class="login_btn" [disabled]="!form.valid">{{'submit' |
        translate}}</ion-button>
      <br><br>
      <ion-button fill="clear" color="dark" size="small" class="sign_btn" routerLink="/login"
        routerDirection="back">{{'go_back' | translate}}
      </ion-button>
    </div>
  </div>
</ion-content>
