ion-content {
  --background: var(--theme-gradient);
}

h2 {
  margin-top: 18px;
  font-size: 24px;
  color: black;
  text-transform: capitalize;
}

.login_btn {
  width: 50%;
  height: 40px;
  text-transform: uppercase;
}

.sign_btn {
  margin: 0;
  height: 20px;
  position: relative;
  bottom: 6px;
  font-size: 15px;
  --padding-start: 0;
  --padding-end: 0;
}
