<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="primary" [icon]="'chevron-back-outline'" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Add Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
  <div class="search_bar">
    <ion-searchbar [(ngModel)]="searchTxt" mode="md" (ionChange)="searchUser($event)"></ion-searchbar>
  </div>

  <ion-list>
    <ion-item class="ion-no-padding" lines="none" *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.avatar" alt="">
      </ion-avatar>
      <div>
        <h3>{{user.name}}</h3>
        <p *ngIf="user.online == '0'">Last seen: {{ moment(user.last_seen).fromNow() }}</p>
        <p *ngIf="user.online == '1'" class="online">Online</p>
      </div>
      <ion-button fill="clear" size="small" slot="end" class="ion-no-margin" (click)="addFriend(user)">Add Friend</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
